* {
    box-sizing: border-box;
    font-family: sans-serif;
  }

/* index.html */

body {
    background-image: linear-gradient(to bottom right, black, rgb(56, 56, 56), goldenrod, rgb(56, 56, 56), black);
}

.logo {
    height: 75px;
    width: auto;
  }

.topnav {
    display: flex;
    background-color: #000000;
    overflow: hidden;
    padding-bottom: 10px;
}

.main {
    color: goldenrod;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 10px;
}

.active {
    color: rgba(255, 221, 0, 0.492);
    text-decoration: none;
    padding: 10px;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.welcome-h1 {
    color: white;
}

.pic {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
    
.k-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.farm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.welcome-h2 {
    color: white;
}

.lead {
    color: white;
}

.end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.end-1 {
    color: white;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.list-item {
    color: white;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-text {
    color: white;
}